// firestore.rules
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // /users/{userId} ドキュメント
    match /users/{userId} {
      // 自分の uid のみ読み取り/更新OK
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // それ以外のコレクションを将来足す場合はここに追記
    // match /public/{docId} { allow read: if true; allow write: if false; }
  }
  match /users/{userId}/healthRecords/{recordId} {
    allow read, write: if request.auth != null && request.auth.uid == userId;
    allow write: if false; // クライアントからは直接書かせない
  }
}
